/venv
/ChromeData
venv
ChromeData
profile
.vscode/settings.json
sms.session
drivers/__pycache__/get_draver.cpython-310.pyc
telegram/__pycache__/config.cpython-310.pyc
telegram/__pycache__/send.cpython-310.pyc
whatsapp/__pycache__/config.cpython-310.pyc
whatsapp/__pycache__/login.cpython-310.pyc
whatsapp/__pycache__/send.cpython-310.pyc
modules/__pycache__/deletid_all_string_before_finding_number.cpython-310.pyc
input.txt
output.txt
modules/__pycache__/del_dublicates.cpython-310.pyc
drivers/chrome_win.exe
phone/__pycache__/phone_sender.cpython-310.pyc
